# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/
.env
.env.*
*.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# OneDrive
~$*

.vercel

# Local data and artifacts
ml/dataset/
ml/models/
dataset_small/
backend/app/uploads/
